@font-face {
  font-family: "Jolly";
  src: url(../assets/Jolly_Lodger/JollyLodger-Regular.ttf);
}

#root {
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
}

.layout {
  display: flex;
  flex-direction: column;
}

.Page {
  flex-grow: 1;
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 100%;
}

.page-card-info-product h1 {
  background-image: url("/public/spray/sprey.png");
  background-repeat: no-repeat;
  background-size: 480px;
  background-position: top;
  height: 150px;
  margin-top: 50px;
  animation: fadeUp 1s cubic-bezier(0.4, 1.2, 0.4, 1) both;
  animation-delay: 0.2s;
  opacity: 0;
}

.Page h1 {
  color: white;
  display: flex;
  justify-content: center;
  font-family: "Roboto";
  font-size: 35px;
}

.page-card {
  margin-bottom: 40px;
  animation: fadeUp 0.8s cubic-bezier(0.4, 1.2, 0.4, 1) both;
  opacity: 0;
  transform: translateY(40px);
  transition: opacity 0.7s cubic-bezier(0.4, 1.2, 0.4, 1),
    transform 0.7s cubic-bezier(0.4, 1.2, 0.4, 1);
  will-change: opacity, transform;
}

.page-card.visible {
  opacity: 1;
  transform: translateY(0);
  padding: 15px;
}

@media screen and (max-width: 510px) {
  .page-card-info-product h1 {
    background-size: 400px;
    background-position: center;
    font-size: 30px;
  }
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
