#root {
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
}

.layout {
  display: flex;
  flex-direction: column;
}

.Page {
  flex-grow: 1;
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 100%;
}

.page-card-info-product {
  padding: 0;
  background-image: url("/public/spray/sprey.png");
  background-repeat: no-repeat;
  background-size: 500px;
  background-position: center top;
  padding: 60px 0 40px 0;
  border-radius: 20px;
}

.page-card-info-product h1 {
  margin-top: 0;
  margin-bottom: 32px;
  height: auto;
  color: white;
  text-align: center;
  font-size: 35px;
  background: none;
}

.Page h1 {
  color: white;
  display: flex;
  justify-content: center;
  font-family: "Roboto";
  font-size: 35px;
}

.page-card {
  margin-bottom: 40px;
  animation: fadeUp 0.8s cubic-bezier(0.4, 1.2, 0.4, 1) both;
  opacity: 0;
  transform: translateY(40px);
  transition: opacity 0.7s cubic-bezier(0.4, 1.2, 0.4, 1),
    transform 0.7s cubic-bezier(0.4, 1.2, 0.4, 1);
  will-change: opacity, transform;
}

.page-card.visible {
  opacity: 1;
  transform: translateY(0);
  padding: 15px;
}

@media screen and (max-width: 510px) {
  .page-card-info-product {
    background-size: 450px;
    background-position: center;
  }
}

@media screen and (max-width: 450px) {
  .page-card-info-product {
    background-size: 400px;
    background-position: center;
  }
  .page-card-info-product h1 {
    font-size: 30px;
  }
}

@media screen and (max-width: 425px) {
  .page-card-info-product {
    background-size: 370px;
    background-position: center;
  }
}

@media screen and (max-width: 400px) {
  .page-card-info-product {
    background-size: 340px;
    background-position: center;
  }
  .page-card-info-product h1 {
    font-size: 25px;
  }
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
