.Card-info {
  color: aliceblue;
  justify-content: center;
  padding-bottom: 50px;
}

.card-menu {
  display: grid;
  border: none;
  grid-template-columns: repeat(4, 1fr);
  width: 100%;
  max-width: 1500px;
  justify-content: center;
  align-items: center;
  justify-items: center;
  column-gap: 35px;
  row-gap: 35px;
  margin: 0 auto;
  padding-top: 10px;
}

.card-item-main {
  display: flex;
  flex-direction: column;
  width: 200px;
  background-color: white;
  color: black;
  transition: transform 0.5s;
  box-shadow: 0px 0px 15px white;
  cursor: pointer;
  border: none;
}

.card-item-main Link:hover {
  background-color: white;
}

.card-item-main:hover {
  -ms-transform: scale(1.1);
  transform: scale(1.05);
}

.card-item-main img {
  width: 200px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-item-main img:hover {
  border: none;
  background-color: none;
}

.card-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-actions a {
  width: 100px;
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: white;
  font-size: 1rem;
  border-radius: 10px;
  background-color: #a800e5;
  padding: 7px 14px;
  transition: 300ms ease;
}

.favorite-icon {
  top: 0;
  width: 24px;
  height: 24px;
  transition: 300ms ease;
}

.favorite-icon:hover {
  color: #7502ab;
}

.cart-icon {
  width: 24px;
  height: 24px;
  transition: 300ms ease;
}

.cart-icon:hover,
.cart-icon.active {
  color: #7502ab;
}

.card-actions a:hover {
  background-color: #7502ab;
}

.old-price {
  text-decoration: line-through;
  text-decoration-color: red;
}

@media screen and (max-width: 900px) {
  .card-menu {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 700px) {
  .card-menu {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 480px) {
  .card-menu {
    grid-template-columns: repeat(1, 1fr);
  }
}
